body {
  font-family: 'Lato', sans-serif;
  margin-top: 70px;
  margin-bottom: 30px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
}
hr.divider {
  margin-top: 50px;
  width: 150px;
}
.purple {
  color: #c180c1;
}
.clickable:hover {
  cursor: pointer;
  color: #c180c1;
}
.categories {
  margin: 15px 40px 30px 40px;
  min-height: 100px;
}
.categories section {
  display: none;
}
.categories section.active {
  display: inline-block;
}
.fade-in-top {
	-webkit-animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	-moz-animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.resume a {
  text-decoration: none;
  color: black;
}
ul.contact li:hover,
 .resume a:hover {
  color: #c180c1;
}
